/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uilds/
/[Mm]emoryCaptures/
/.tools/
/.artifacts/
/.venv/
**/bin/
**/obj/
**/__pycache__/
*.csproj
!Tools/**/*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.unityproj
*.blend1
*.blend2
.DS_Store
.idea/
.vs/
*.ulf
*.alf
